<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.ilmanaque"
  android:versionCode="1"
  android:versionName="4.20">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <application android:label="@string/app_name" android:icon="@drawable/tree">
    <activity android:name="Main"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="ViewTaskMain"
        android:label="@string/app_name">
    </activity>
    <activity android:name="AddPlant"
      android:label="@string/app_name">
    </activity>
    <activity android:name="EditPlant"
      android:label="@string/app_name">
    </activity>
    <activity android:name="ListPlant"
      android:label="@string/app_name">
    </activity>
    <activity android:name="ListSementeira"
      android:label="@string/app_name">
    </activity>
    <activity android:name="PlantMan"
      android:label="@string/app_name">
    </activity>
    <activity android:name="AddTask"
      android:label="@string/app_name">
    </activity>
    <activity android:name="EditTask"
      android:label="@string/app_name">
    </activity>
    <activity android:name="ListTask"
      android:label="@string/app_name">
    </activity>
    <activity android:name="TaskMan"
      android:label="@string/app_name">
    </activity>
    <activity android:name="WeatherActivity"
      android:label="@string/app_name">
    </activity>
    <activity android:name="InfoSemen"
      android:label="@string/app_name">
    </activity>
  </application>
</manifest>
